@using TechJobs6Persistent  
@model AddEmployerViewModel

<h1>Add New Employer</h1>

<form asp-controller="Employer" asp-action="ProcessCreateEmployerForm" method="post">

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input asp-for="Location" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <br />
@* below is added for commit evidence, to be played with and not used for original LaunchCode assignment: *@
   <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    
    <input type="submit" value="Add Employer" />

</form>