@using System.Collections
@using TechJobs6Persistent.ViewModels
@model AddJobViewModel



<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Job">Name</label>
        <input asp-for="Job" class"form-control"/>
        <span asp-validation-for="Job" class="text-danger"></span> 
        
    </div>
    <br />

    <div class="form-group">        
        <label asp-for="EmployerID">Employer</label>  
        <select asp-for="EmployerID" asp-items="Model.Employers"></select>   
            
    </div>
          <a asp-action="Employers">Back to Employer List</a>
    
    <input type="submit" value="Add Job"/>
</form>